body {
  position: relative;
  left: 17%;
  margin: 60px;
  padding: 0;
  width: 470px;
  height: 700px;
  font-family: "Yanone Kaffeesatz", sans-serif;
}
h1,
h2,
h3 {
  color: #f9fbff;
}
h1 {
  font-size: 50px;
  text-align: center;
  margin-top: 30px;
}
h2 {
  display: inline-block;
  width: 100%;
  text-align: center;
  font-size: 50px;
  font-weight: bold;
}
h3 {
  text-align: center;
}
.emoji {
  position: relative;
  left: 40%;
  font-size: 100px;
  color: #f9fbff;
}
.box {
  position: relative;
  background-image: linear-gradient(to bottom, #c393ea, #8cbcfa);
  border-radius: 20px;
  overflow: hidden;
  border: 2px solid lightskyblue;
  box-shadow: 12px 12px 2px 1px rgba(151, 151, 160, 0.2);
  width: 394px;
  height: 700px;
}
.form-group {
  margin-top: 50px;
  margin-bottom: 10px;
  width: 200px;
  position: relative;
  left: 26%;
}
.row {
  color: #f9fbff;
  position: relative;
  top: 8%;
  left: 4%;
  font-size: 20px;
}
.container {
  position: relative;
  top: 9%;
  left: -3%;
  justify-content: center;
}
.btn-light {
  color: #212529;
  background-color: lightskyblue;
  border: 1px solid lightskyblue;
}
.btn {
  position: absolute;
  left: 116%;
  top: 0%;
}
.footer {
  text-align: center;
  margin: 20px;
  font-size: 15px;
  font-family: sans-serif;
}
#geolocation {
  width: 40px;
  height: 40px;
  cursor: pointer;
  font-size: 30px;
  background-color: #8cbcfa;
}
.fa.fa-compass {
  position: absolute;
  left: 15%;
  top: 11%;
  color: #f9fbff;
}

#icons {
  font-size: 36px;
  color: #f9fbff;
}
#forcast {
  font-size: 20px;
  color: #f9fbff;
}
#current-temp #tempicon-link {
  position: relative;
  top: -13px;
  left: -2px;
  font-weight: 100;
  font-size: 20px;
  vertical-align: unset;
}
